{% load i18n %}
{% if content_type and object_pk %}
<!-- The file upload form used as target for the file upload widget -->
<div id="fileupload-{{content_type}}-{{object_pk}}" ng-controller="DemoFileUploadController" data-file-upload="options" ng-class="{'fileupload-processing': processing() || loadingFiles}" class="fileupload">
    
    <button type="button" class="add-files btn btn--create">{% trans "Upload" %}</button>
    <button type="button" class="choose-files btn btn--primary" ng-click="open_library()">{% trans "Choose from library" %}</button>
    <br><br>
    
    <div class="modal fileuploader">
        <div class="modal__wrapper">
            <div class="modal__content">
            	<div class="modal__header">
                    <a href="#close" id="modal-close-normal" class="modal__close" data-dismiss="modal"></a>
            		<h3>{% trans "Upload multiple files" %}</h3>
            	</div>
            	<div class="modal__body">
            		<div class="">
            			<div class="row fileupload-buttonbar">
            	            <!-- The fileinput-button span is used to style the file input field as button -->
            	            <span class="btn btn--create fileinput-button" ng-class="{disabled: disabled}">
            	                <i class="icon icon-plus icon-white"></i>
            	                <span>Add files...</span>
            	                <input type="file" name="upload" multiple ng-disabled="disabled">
            	            </span>
                            <input type="hidden" value="{{content_type}}" name="content_type">
                            <input type="hidden" value="{{object_pk}}" name="object_pk">
            	            <button type="button" class="btn btn--primary" data-ng-click="submit()">
            	                <span>Start upload</span>
            	            </button>
            	            <!-- The loading indicator is shown during file processing -->
            	            <div class="fileupload-loading"></div>
            	        </div>
                        
                    </div>

                    
                    <!-- The global progress information -->
                    <div class="global-progress progress" style="display:none;">
                        <div class="progress-bar" data-file-upload-progress="progress()" role="progressbar" aria-valuenow="{[{num}]}" aria-valuemin="0" aria-valuemax="100" data-ng-style="{width: num + '%'}">
                            <span class="sr-only">{[{num}]}% Complete</span>
                        </div>
                    </div>
                    <!-- The table listing the files available for upload/download -->
                    <table class="table table-striped files ng-cloak">
                        <tr data-ng-repeat="file in queue">
                            <td data-ng-switch data-on="!!file.thumbnailUrl">
                                <div class="preview" data-ng-switch-when="true">
                                    <a data-ng-href="{[{file.url}]}" title="{[{file.name}]}" download="{[{file.name}]}" data-gallery><img data-ng-src="{[{file.thumbnailUrl}]}" alt=""></a>
                                </div>
                                <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                            </td>
                            <td>
                                <p class="name" data-ng-switch data-on="!!file.url">
                                    <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                        <a data-ng-switch-when="true" data-ng-href="{[{file.url}]}" title="{[{file.name}]}" download="{[{file.name}]}" data-gallery>{[{file.name}]}</a>
                                        <a data-ng-switch-default data-ng-href="{[{file.url}]}" title="{[{file.name}]}" download="{[{file.name}]}">{[{file.name}]}</a>
                                    </span>
                                    <span data-ng-switch-default>{[{file.name}]}</span>
                                </p>
                                <div data-ng-show="file.error"><span class="label label-danger">Error</span> {[{file.error}]}</div>
                            </td>
                            <td>
                                <p class="size">{[{file.size | formatFileSize}]}</p>
                                <div class="progress" style="display:none;">
                                    <div class="progress-bar" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()" role="progressbar" aria-valuenow="{[{num}]}" aria-valuemin="0" aria-valuemax="100" data-ng-style="{width: num + '%'}">
                                        <span class="sr-only">{[{num}]}% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <!-- <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start</span>
                                </button>
                                
                                <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                    <i class="icon icon-remove-circle"></i>
                                </button> -->
                                <a href="#delete" class="cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                    <i class="icon icon-minus-sign"></i>
                                </a>
                                <i data-ng-controller="FileDestroyController" class="icon-ok" data-ng-hide="!file.$destroy"></i>
                                
                            </td>
                        </tr>
                    </table>
                
                </div>
            </div>
        </div>
    </div>
    <div class="form__control">
        <ul class="file-preview thumbnails sortable" data-toggle="modal-gallery" data-target="#modal-gallery">
            <li ng-repeat="file in files" id="file-{[{file.id}]}" class="accommodation-form-image">
                <a href="{[{file.url}]}">
                    <img data-ng-src="{[{file.thumbnailUrl}]}" alt="">
                </a>
                <br>
                <a href="#caption" ng-click="file_caption(file.id, file.thumbnailUrl)" class="btn btn--small btn--transparent">caption</a>
                <a href="#remove" ng-click="remove_file(file.id, file.thumbnailUrl)" class="btn btn--small btn--delete btn--transparent">
                    <span class="fa fa-times"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>

    <div class="loader loading-images" style="display:none;"><span class="icon-spin5 animate-spin"></span></div>

<!-- Remove file modal -->
<div class="modal-delete-file modal fade">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__header">
                <a href="#" class="close" data-dismiss="modal"></a>
                <h3 class="modal-title">{% trans "Remove file" %}</h3>
            </div>
            <div class="modal__body">
                <p>{% trans "This file will be removed from this page but will remain in the Files section of the CMS." %}</p>
                <div class="modal-image"></div>
            </div>
            <div class="modal__footer">
                <button type="button" class="btn btn--transparent pull-right cancel-modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn--delete remove-file" >{% trans "Remove" %}</button>
            </div>
        </div>
    </div>
</div>
<!-- Change caption modal -->
<div class="modal modal-caption">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__header">
                <a href="#" class="modal__close" data-dismiss="modal"></a>
                <h3 class="modal-title">{% trans "Change caption" %}</h3>
            </div>
            <div class="modal__body">
                <div class="grid">
                    <div class="grid__span-3">
                        <div class="accommodation-form-image modal-image"></div>
                    </div>
                    <div class="grid__span-9">
                        <div class="form__control">
                            <textarea name="caption" id="caption" rows="3" class="form__text"></textarea>
                        </div>
                        <div class="form__control">
                            <input type="text" id="link_to_url" name="link_to_url" placeholder="{% trans 'Link to URL' %}" class="form__text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal__footer">
                <button type="button" class="btn btn--transparent pull-right cancel-modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn--primary save-caption" >{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>
<!-- Library modal -->
<div class="modal modal-library">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__header">
                <a href="#" class="modal__close" data-dismiss="modal"></a>
                <h3>{% trans "Library" %}</h3>
            </div>
            <div class="modal__body">
                <ul class="file-preview thumbnails">
                    <li ng-repeat="file in library" class="accommodation-form-image">
                        <a href="#choose" class="thumbnail" ng-click="do_choose_file(file.id)">
                            <img data-ng-src="{[{file.thumbnailUrl}]}" alt="">
                        </a>
                        <a href="#choose" ng-click="do_choose_file(file.id)" class="caption">choose</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

{# endform #}
</div>
<script>
angular.element(document).ready(function() {
    angular.bootstrap(document.getElementById('fileupload-{{content_type}}-{{object_pk}}'), ['multipleUploader']);
});
</script>
{% else %}
<p>{% trans "You must save once before associating images." %}</p>
{% endif %}